h1 {
	color: red;
}

p {
	color: green;
}

h2 {
	color: green;
	text-align: center;
	font-size: 50px;
}

/* Este é um comentário */

/* Classes e IDs */
.p-texto {
	color: lightgreen;
}

#titulo-app {
	color: purple;
	font-size: 40px;
}

div p {
	color: red;
}

.p-dentro-da-div {
	color: blue;
}

#p-super-especifico {
	color: green;
}

/* Cores */

.nome {
	color: orange;
}

.hexa {
	color: #6a40c4;
}

.rgba {
	color: rgba(17, 197, 214, 1);
	font-size: 40px;
}