h1 {
	color: red;
}

p {
	color: green;
}

h2 {
	color: green;
	text-align: center;
	font-size: 50px;
}

/* Este é um comentário */

/* Classes e IDs */
.p-texto {
	color: lightgreen;
}

#titulo-app {
	color: purple;
	font-size: 40px;
}

div p {
	color: red;
}

.p-dentro-da-div {
	color: blue;
}

#p-super-especifico {
	color: green;
}

/* Cores */

.nome {
	color: orange;
}

.hexa {
	color: #6a40c4;
}

.rgba {
	color: rgba(17, 197, 214, 1);
	font-size: 40px;
}

/* Backgrounds */

.div-background {
	height: 300px;
	background-image: url('img/por-do-sol.jpg');
}

.titulo-background {
	text-align: center;
	background-color: #000;
	color: #FFF;
}

/* Fontes */

.family {
	color: #000;
	font-size: 40px;
}

.family.serif { /* estilizando uma classe dentro da outra */
	color: green;
}

.serif {
	font-family: "times new roman";
}

.sans-serif {
	font-family: arial;
}

.monospace {
	font-family: "Curier New";
}

.italic {
	font-style: italic;
}

.oblique {
	font-style: oblique;
}

.bold {
	font-weight: bold;
}

.variant {
	font-variant: small-caps;
}

/* Box Model */

body { /* removendo a margin padrão do Box Model */
	margin: 0; 
}

.boxmodel {
	width: 200px;
	height: 200px;
	background-color: red;
	/* Geral */
	/*padding: 20px;*/

	/* Especifíco */
	/*padding-top: 30px;
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 5px;*/

	/* Especifíco Agrupado */
	padding: 30px 20px 5px 10px;

	/* Especifíco agrupado em 3 medidas - top, rigth-left, bottom */
	padding: 30px 20px 5px;

	/* Especifíco agrupado em 2 medidas - top-bottom, right-left*/
	padding: 30px 20px;

	border: 3px solid blue;
	/*border: 3px dashed blue;*/
	/*border: 3px dotted blue;*/
	/*border: 3px double; blue;*/

	border-width: 5px 10px 2px 10px;

	border: 3px solid #000;

	border-left: 5px dotted blue;

	border-right-style: double;

	border-width: 20px 10px;

	border-radius: 15px;

	/* Geral */
	margin: 50px;

	/* Específico Agrupado */
	margin: 5px 10px 10px 7px;

	/* Especifíco agrupado em 2 medidas - top-bottom, right-left*/
	margin: 30px 20px;

	margin: 100px;
}

.paragrafo-box {
	color: #000;
	margin: 0;
}