h1 {
	color: red;
}

p {
	color: green;
}

h2 {
	color: green;
	text-align: center;
	font-size: 50px;
}

/* Este é um comentário */

/* Classes e IDs */
.p-texto {
	color: lightgreen;
}

#titulo-app {
	color: purple;
	font-size: 40px;
}

div p {
	color: red;
}

.p-dentro-da-div {
	color: blue;
}

#p-super-especifico {
	color: green;
}

/* Cores */

.nome {
	color: orange;
}

.hexa {
	color: #6a40c4;
}

.rgba {
	color: rgba(17, 197, 214, 1);
	font-size: 40px;
}

/* Backgrounds */

.div-background {
	height: 300px;
	background-image: url('img/por-do-sol.jpg');
}

.titulo-background {
	text-align: center;
	background-color: #000;
	color: #FFF;
}

/* Fontes */

.family {
	color: #000;
	font-size: 40px;
}

.family.serif { /* estilizando uma classe dentro da outra */
	color: green;
}

.serif {
	font-family: "times new roman";
}

.sans-serif {
	font-family: arial;
}

.monospace {
	font-family: "Curier New";
}

.italic {
	font-style: italic;
}

.oblique {
	font-style: oblique;
}

.bold {
	font-weight: bold;
}

.variant {
	font-variant: small-caps;
}

/* Box Model */

body { /* removendo a margin padrão do Box Model */
	margin: 0; 
}

.boxmodel {
	width: 200px; /* largura da div */
	height: 200px; /* altura da div */
	background-color: red; /* cor de fundo da div */

	/*
	 Padding = espaçamento interno
	 Margin = espaçamento externo
	/*

	/* Geral */
	/*padding: 20px;*/

	/* Especifíco */
	/*padding-top: 30px;
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 5px;*/

	/* Especifíco Agrupado */
	/* padding: 30px 20px 5px 10px; */

	/* Especifíco agrupado em 3 medidas - top, rigth-left, bottom */
	/* padding: 30px 20px 5px; */

	/* Especifíco agrupado em 2 medidas - top-bottom, right-left*/
	padding: 30px 20px;

	/* Borda do elemento */
	border: 3px solid black;
	/*border: 3px dashed blue;*/
	/*border: 3px dotted blue;*/
	/*border: 3px double; blue;*/

	/* border-width: 5px 10px 2px 10px; */

	/* border: 3px solid #000; */

	/* border-left: 5px dotted blue; */

	/* border-right-style: double; */

	border-width: 20px 10px;

	border-radius: 15px;

	/* Geral */
	/* margin: 50px; */

	/* Específico Agrupado */
	/* margin: 5px 10px 10px 7px; */

	/* Especifíco agrupado em 2 medidas - top-bottom, right-left*/
	/* margin: 30px 20px; */

	margin: 100px;

	/*display: none; serve para esconder os elementos*/ 

	/* display: inline; deixa os elementos um do lado do outro, mas não pode ter algura e largura definidas */

	display: inline-block; /* deixa um do lado do outro */

	display: block; /* um debaixo do outro */
}

.paragrafo-box {
	color: #000;
	margin: 0;
}

/* Positions */
/* static */
/* relative */
/* fixed */
/* absolute */
/* sticky */

.div-position {
	width: 500px;
	height: 500px;
	background-color: red;
	border-bottom: 2px dotted black;
}

.static {
	position: static;
	/* não vai acontecer nada, pois ele é estático ao html
	top: 300px;
	left: 60px;*/
}

.relative {
	position: relative;
	background-color: blue;
	top: 100px;
	left: 50px;
}